--index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://pypi.org/simple

# Core deep learning libraries with CUDA 11.8 support
torch==2.2.2+cu118
torchvision==0.17.2+cu118
torchaudio==2.2.2+cu118
# Scientific computing & visualization
matplotlib
tensorboard
scipy
opencv-python
pandas
scikit-image

einops
hdbscan
cvbase
tqdm

